@page "/Filer"
@using FISSUP23.Database.Models
@inject HttpClient http

<h3>Filer</h3>

@if (Fils != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Namn</th>
            <th>Matchmönster</th>
            <th>
                Beskrivning
            </th>
            <th>
                Sort
            </th>
            <th>FilkollektionsId</th>
            <th>KolumnSeperator</th>
            <th>HarKolumn</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var fil in Fils)
        {
            <tr>
                <td>
                    @fil.Id
                </td>
                <td>
                    @fil.Namn
                </td>
                <td>
                    @fil.MatchMonster
                </td>
                <td>
                    @fil.Beskrivning
                </td>
                <td>
                    @fil.Sort
                </td>
                <td>
                    @fil.FilKollektionId.ToString()
                </td>
                <td>
                    @fil.KolumnSeparator
                </td>
                <td>
                    @fil.HarKolumnamn
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p> Laddar data ..</p>
}

@code {
    private List<Fil> Fils { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Fils = await http.GetFromJsonAsync<List<Fil>>($"./api/Fils");
        StateHasChanged();
    }

}