@page "/Kolumner"
@inject HttpClient http

<h3>Kolumner</h3>

@if (Kolumns != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>InNamn</th>
            <th>UtNamn</th>
            <th>NyKolumn</th>
            <th>Sort</th>
            <th>FillId</th>
            <th>InLasningId</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var kolumn in Kolumns)
        {
            <tr>
                <td>
                    @kolumn.Id
                </td>
                <td>
                    @kolumn.InNamn
                </td>
                <td>
                    @kolumn.UtNamn
                </td>
                <td>
                    @kolumn.NyKolumn
                </td>
                <td>
                    @kolumn.Sort
                </td>
                <td>
                    @kolumn.FilId.ToString()
                </td>
                <td>
                    @kolumn.InlasningId.ToString()
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p> Laddar data ..</p>
}

@code {
    private List<Database.Models.Kolumn> Kolumns { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Kolumns = await http.GetFromJsonAsync<List<Database.Models.Kolumn>>($"./api/Kolumns");
        StateHasChanged();
    }

}