@page "/overforingar/{overforingId:int}/filkollektioner/{filkollektionId:int}/update"
@using System.Text.Json
@using FISSUP23.Database.Models
@inject HttpClient http
@inject NavigationManager navMan


<h3 class="mb-4">Uppdatera filkollektion</h3>

@if (filkollektion != null)
{
    <body>
    <input class="form-control mb-4" id="disabledInput" type="text" placeholder="FilkollektionsID: @filkollektion.Id" disabled>
    <input class="form-control mb-4" id="disabledInput" type="text" placeholder="OverforingsId: @filkollektion.OverforingId" disabled>
    <input type="text" class="form-control mb-4" @bind="NyNamn" placeholder="Namn: @filkollektion.Namn" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="NyAndelse" placeholder="Ändelse: @filkollektion.Andelse" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="NyMatchmonster" placeholder="Matchmönster: @filkollektion.MatchMonster" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="NyBeskrivning" placeholder="Beskrivning: @filkollektion.Beskrivning" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="NyFolderRoot" placeholder="FolderRoot: @filkollektion.FolderRoot" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="NyFolderArkiv" placeholder="FolderArkiv: @filkollektion.FolderArkiv" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="nyFolderNyFil" placeholder="FolderNyFil: @filkollektion.FolderNyFil" aria-label="Last name">
    <input type="text" class="form-control mb-4" @bind="NyFolderFelaktigFil" placeholder="FolderFelaktigaFil: @filkollektion.FolderFelaktigFil" aria-label="Last name">
    
    <select class="dropdown" name="number" @bind="FiltypId">
        @if (Filtyper != null)
        {
            @foreach (var filtyp in Filtyper)
            {
                <option value=@filtyp.Id>@filtyp.Namn</option>
            }
        }
        else
        {
            <option value="">Loading</option>
        }
    </select>
    

    <button type="button" class="btn btn-warning " @onclick="Spara"> Spara </button>
    </body>
}

@code {

    [Parameter]
    public int overforingId { get; set; }

    [Parameter]
    public int filkollektionId { get; set; }

    private FilKollektion filkollektion { get; set; }
    
    private string NyNamn { get; set; }
    private string NyAndelse { get; set; }
    private string NyMatchmonster { get; set; }
    private string NyBeskrivning { get; set; }
    private string nyFolderNyFil { get; set; }
    private string NyFolderRoot { get; set; }
    private string NyFolderArkiv { get; set; }
    private string NyFolderFelaktigFil { get; set; }
    private List<Filtyp>? Filtyper { get; set; } = new();
    private List<Fil> fils { get; set; } = new();

    private int FiltypId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        filkollektion = await http.GetFromJsonAsync<FISSUP23.Database.Models.FilKollektion>($"./api/FilKollektions/{filkollektionId}");
        Filtyper = await http.GetFromJsonAsync<List<Filtyp>>("./api/Fils/filtyper");
        await base.OnInitializedAsync();
    }

    private async Task Spara()
    {
        var filkollektion = new FilKollektion()
        {
            Id = filkollektionId,
            OverforingId = overforingId,
            Namn = NyNamn,
            Andelse = NyAndelse,
            MatchMonster = NyMatchmonster,
            Beskrivning = NyBeskrivning,
            FolderRoot = NyFolderRoot,
            FolderArkiv = NyFolderArkiv,
            FolderNyFil = nyFolderNyFil,
            FolderFelaktigFil = NyFolderFelaktigFil,
            FilTypId = FiltypId,
            Fils = fils
        };
        var content = new StringContent(JsonSerializer.Serialize(filkollektion), System.Text.Encoding.UTF8, "application/json");
        await http.PutAsync($"./api/FilKollektions/{filkollektion.Id}", content);
        navMan.NavigateTo($"./overforingar/{overforingId}/filkollektioner", true);

    }

}